@import '../../styles/global.scss';

.home {
  width: 100%;

  &__hero {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;

    @include responsive(md) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
      height: 33.6rem;
      display: block;
    }
  }

  &__content {
    flex: 1;
    background-color: $color-dark;
    color: $color-light;
    font-family:$font-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 300;
      margin-left: 20rem;
    }

    .subtitle {
      font-size: 1.25rem;
      margin-left: 8rem;
    }

    .home__btn {
      background-color: $color-light;
      color: $color-dark;
      padding: 0.5rem 2rem;
      border-radius: 3px;
      font-weight: 400;
      text-align: center;
      width: fit-content;
      font-size: 22px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  &__alojamiento {
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
      margin: 2rem 0;
    }
  }
}

.services {
  width: 100%;
  background-color: $color-light;
  padding: 2rem 1rem;

  .icon-section {
    max-width: 1200px;
    margin: 0 auto;

    h3 {
      font-size: 1.9rem;
      font-weight: 300;
      text-align: flex-start;
      margin-bottom: 2rem;
      font-family: $font-primary;
      color: $color-dark;
    }

    .amenities-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      justify-items: start;

      @include responsive(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include responsive(xs) {
        grid-template-columns: 1fr;
      }
    }

    .amenity-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: $color-dark;
      padding: 0;

      .amenity-icon {
        font-size: 30px;
        color: #272519;
        width: 20px;
        height: 20px;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .amenity-text {
        text-align: flex-start;
        line-height: 1.4;
        margin-left: 1rem;
      }
    }
  }
}
