@import '../../styles/global.scss';

.footer {
  width: 100%;
  background-color: #F8F5D2;;
  min-height: 5rem;
  padding: 1.5rem;
  font-family: $font-primary;
  color: $color-dark;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include responsive(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .navOp {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  a {
    color: $color-dark;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 2px dashed $color-primary;
      outline-offset: 4px;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  @include responsive(md) {
    align-items: flex-start;
    text-align: left;
  }
}

.footerIcons {
  display: flex;
  font-size: 1.5rem;

  li {
    display: flex;
    align-items: center;
  }

  a {
    color: $color-dark;
  }
}

.footerLogo {
  width: 80px;
  margin-bottom: 0.5rem;
}
